@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

.login {
    font-family: 'Big Shoulders Text', cursive;
    height: 900px;
    background-image: url(img/F1-1.avif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#back_button:hover{
    width:150%;
    transition: 1s ease;
}

.nav-flex-row {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 0px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffffb8;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

input:hover{
    width: 12%;
    background-image: url(img/F1-6.jpg);
    opacity:0.8;

}

#Button:hover{
    width:10%;
    
}

body::-webkit-scrollbar {
    width: 12px;
                  
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(4, 4, 4);       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(72, 196, 231);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(160, 159, 156);  /* creates padding around scroll thumb */
  }